{% extends "auth_base.html" %}
{% load tr %}
{% block title %}{% tr "Byt lösenord" "Konton" %}{% endblock %}
{% block auth_content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="p-5 text-center">
                    <h1 class="h4 text-gray-900 mb-4">{% tr "Lösenordet har ändrats." "Konton" %}</h1>
                    <a class="btn btn-primary btn-user w-100" href="{% url 'login' %}">{% tr "Logga in" "Inloggning" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
